.boxParticipationList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .participation-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .participation-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .participation-list-item-name {
    font-size: 12px;
    padding: 0.1em;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .participation-list-item-location {
    font-size: 8px;
    padding: 0.3rem;
    margin: 0px;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .participation-list-item-time {
    font-size: 8px;
    padding: 0.3rem;
    margin: 0px;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  
  @media (min-width: 768px) {
    .boxParticipationList {
      width: 80%;
    }
  
    .participation-list-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      justify-content: center;
    }
  
    .participation-list-item {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 0px;
    }
  
    .participation-list-item-name {
      font-size: 12px;
      padding: 0.1em;
      letter-spacing: 0.2px;
      word-spacing: 0px;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      border-style: solid;
      border-width: 1px;
      width: 30%;
      text-align: center;
      margin-bottom: 0px;
    }
  
    .participation-list-item-location {
      font-size: 8px;
      padding: 0.3rem;
      margin: 0px;
      letter-spacing: 0.2px;
      word-spacing: 0px;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      border-style: solid;
      border-width: 1px;
      width: 40%;
      text-align: center;
      margin-bottom: 0px;
    }
  
    .participation-list-item-time {
      font-size: 8px;
      padding: 0.3rem;
      margin: 0px;
      letter-spacing: 0.2px;
      word-spacing: 0px;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
      border-style: solid;
      border-width: 1px;
      width: 30%;
      text-align: center;
      margin-bottom: 0px;
    }
  }